/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin: 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

body {
	background-color: #aac9eb;
	color: #19736d;
}

#output { display: none }

#top-bar {
	background-color: #3874b6;
	width:100%;
	padding: 5px 0 0 5px;
	float: left;
	margin: 0;
}

h2 {
	background-color: #3874b6;
	color: #fff;
	font-size:1.5em;
}

h3 {
	font-size:1.2em;
	margin: 5px 0 0 0;
	padding: 0;
	font-weight: bold;
}

h4 {
	font-size:1.2em;
}

#main {
width: 100%;
float: left;
}

#video-canvas {
float: left;
position: relative;
width: 100%;
transform: scale(-1, 1);            /*For Firefox (& IE) */
        -webkit-transform: scale(-1, 1);
}

#video-controls {
float: left;
position: relative;
width: 100%;
text-align: center;
  font-size: 0;
}

.controls {
border: solid 1px #3874b6;
background-color: #fff;
text-align: center;
margin: 0 0 10px 0;
float: right;
width: 100%; 
}

#video {
border: solid 1px #3874b6;
background-color: #fff;
margin: 0 0 10px 0;
float: left;
width: 100%;
}

button:hover {
  background-color: #aac9eb; 
  border: solid 1px #3874b6;
  color: #3874b6;
  cursor:pointer;
}

input:hover + .btn-slider {
  background-color: #aac9eb; 
  border: solid 1px #3874b6;
  color: #3874b6;
  cursor:pointer;
}

input:checked + .btn-slider {
  background-color: #aac9eb; 
  border: solid 1px #3874b6;
  color: #3874b6;
  cursor:pointer;
}

.btn {
	width: 100px;
	height: 100px;
	position: relative;
	background-color: #3874b6; 
  border: solid 2px #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 5px 5px;
  border-radius: 50%;
    float: left;
}

.run-text {
    float: none;
}

.btn-slider {
  position: absolute;
  cursor: pointer;
  height: 100px;
  width: 100px;
	background-color: #3874b6; 
  border: solid 2px #fff;
  color: #fff;
  padding: 22px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 0 5px 5px 5px;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

span {
line-height: 20px;
}

select {
 width: 80%;
}

.btn-box input {
  opacity: 0;
  width: 0;
  height: 0;
}

.btn-box {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  float: left;
  margin: 0 10px 0 0;
}

#logo {
	float: left;
	margin: 20px 25px 0 25px;
}

#buttons {
	float: right;
	padding: 0 5px;
}

#footer {
	width: 100%;
	float: left;
	text-align: center;
}

#footer a{
	color: #3874b6;
	font-size:0.75em;
}

@media (max-width: 725px) {
#buttons { padding: 0; margin: 0; }
#logo { opacity: 0;	width: 0; height: 0; margin: 0; padding: 0; visibility: hidden; }
.btn { width: 75px; height: 75px; font-size: 12px; margin: 0 2px 5px 2px;}
.btn-box { width: 75px; height: 75px; margin: 0 5px 0 0;}
.btn-slider { width: 75px; height: 75px; font-size: 12px; padding: 16px 10px 10px 10px; margin: 0 2px 5px 2px;}
span { line-height: 16px; }
}

@media (max-width: 800px) {
#logo { width: 106px; height: 40px; margin: 30px 25px 0 25px;}
}

@media (min-device-width: 850px) and (max-device-width: 1200px) {
.controls { width: 100%; }
#video { width: 100%; }
}

@media (min-device-width: 1201px) and (min-width: 1201px) {
.controls { width: 49%; margin: 5px;}
#video { width: 49%; margin: 5px;}
}

